flows (1).json
[{"id":"a583c7c1.e66de8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9cefbdf1.ccbbe","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3373884.37f0378","type":"ui_group","z":"","name":"Default","tab":"9cefbdf1.ccbbe","order":1,"disp":true,"width":"19","collapse":false},{"id":"9573df11.2672e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#897c21","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"41b2e7a0.82d898","type":"ui_form","z":"a583c7c1.e66de8","name":"","label":"","group":"3373884.37f0378","order":0,"width":"0","height":"0","options":[{"label":"enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":320,"wires":[["3c395bcd.1f30c4"]]},{"id":"3c395bcd.1f30c4","type":"function","z":"a583c7c1.e66de8","name":"","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n    }\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":180,"wires":[["25068004.2e40c"]]},{"id":"7ab1e1ba.e269d","type":"function","z":"a583c7c1.e66de8","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["227f6537.5901ca"]]},{"id":"25068004.2e40c","type":"watson-discovery-v1","z":"a583c7c1.e66de8","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/f4f76ef1-2a88-4521-914a-ca60c841ca59","x":330,"y":80,"wires":[["7ab1e1ba.e269d"]]},{"id":"227f6537.5901ca","type":"sentiment","z":"a583c7c1.e66de8","name":"","property":"payload","x":400,"y":340,"wires":[["c48988e0.150388","ef36f3ba.e522b"]]},{"id":"c48988e0.150388","type":"function","z":"a583c7c1.e66de8","name":"","func":"data: msg.payload += \"Sentiment : \" + msg.sentiment.score;\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["369e3e25.1f90d2"]]},{"id":"ed1ce2c6.1adb5","type":"ui_gauge","z":"a583c7c1.e66de8","name":"","group":"3373884.37f0378","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":120,"wires":[]},{"id":"369e3e25.1f90d2","type":"ui_text","z":"a583c7c1.e66de8","group":"3373884.37f0378","order":1,"width":"5","height":"7","name":"","label":"Search result","format":"{{msg.payload}}","layout":"col-center","x":650,"y":420,"wires":[]},{"id":"ef36f3ba.e522b","type":"function","z":"a583c7c1.e66de8","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["ed1ce2c6.1adb5"]]}]